<div class="login-main">
  <div class="login-content">
      <div class="login-content_welcome">
          <h1>Hoş Geldiniz</h1>
          <p>Lütfen aşağıdaki bilgileri doldurunuz.</p>
        </div>
      <mat-tab-group [(selectedIndex)]="step">
          <mat-tab label="Oturum Aç">
              <mat-card>
                  <mat-card-content>
                    <form [formGroup]="loginForm">
                      <div>
                          <mat-form-field>
                              <input matInput formControlName="studentNo" type="text" placeholder="Öğrenci Numarası"  required>
                          </mat-form-field>
                      </div>
                     <div>
                        <mat-form-field>
                            <input matInput formControlName="studentPassword" type="password" placeholder="Şifre" required>
                        </mat-form-field>
                     </div>

                    </form>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button class="login-content_button" (click)="onLogin()">Giriş Yap</button>
                  </mat-card-actions>
                </mat-card>
             </mat-tab>

    <mat-tab label="Kaydol">
        <mat-card>
            <mat-card-content>
                <mat-accordion>
                    <form [formGroup]="registerForm">
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                Kişisel Bilgiler
                              </mat-panel-title>
                              <mat-panel-description>
                                <mat-icon>account_circle</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="identityNumber" placeholder="T.C Kimlik No"  required>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="email" placeholder="E-Posta Adresi"  required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="name" placeholder="Adı"  required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="surname" placeholder="Soyadı"  required>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="phoneNumber" placeholder="Telefon Numarası"  required>
                                </mat-form-field>
                            </div>
                      </mat-expansion-panel>

                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                Okul Bilgileri
                              </mat-panel-title>
                              <mat-panel-description>
                                <mat-icon>book</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field>
                                    <input matInput type="text" formControlName="studentNumber" placeholder="Öğrenci Numarası"  required>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="Sınıf Seçiniz" formControlName="studentClass">
                                        <mat-option value="1">1.Sınıf</mat-option>
                                        <mat-option value="2">2.Sınıf</mat-option>
                                      </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                  <mat-select placeholder="Şube Seçiniz" formControlName="studentClassGroup">
                                    <mat-option value="1">1.Şube</mat-option>
                                    <mat-option value="2">2.Şube</mat-option>
                                    <mat-option value="3">3.Şube</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                              <mat-panel-title>
                                Şifre Oluştur
                              </mat-panel-title>
                              <mat-panel-description>
                                <mat-icon>lock</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div>
                                <mat-form-field>
                                    <input matInput type="password" formControlName="password" placeholder="Şifre"  required>
                                </mat-form-field>
                            </div>
                           <div>
                              <mat-form-field>
                                  <input matInput type="password" formControlName="repassword" placeholder="Şifre Tekrar" required>
                              </mat-form-field>
                           </div>
                      </mat-expansion-panel>

                    </form>
                  </mat-accordion>

            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button class="login-content_button" (click)="onRegister()">Kaydol</button>
            </mat-card-actions>
          </mat-card>
    </mat-tab>
  </mat-tab-group>
  </div>
</div>
