.reports {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.reports-header {
  width: 100%;
}
.reports-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}
.reports-content-editor {
  width: 100%;
}
.reports-content  table {
  width: 100%;
}
td-text-editor {
  width: 100%;
}
