.students {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.students-header {
  width: 100%;
}
.student-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}
.student-content  table {
  width: 100%;
}
